html{
    background-color: rgb(32, 30, 30)

}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background: rgb(63, 255, 15);
    margin-right: 100px;
}

.nav-link {
    color: black;
    list-style-type: none;
    margin-left: -10px;
    font-size: 20px;
}

#navlink1 {
    font-family: 'Roboto Mono', monospace; 
    margin-bottom: 10px;
}

#navlink2 {
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 10px;
}

#navlink3 {
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 10px;
}

#navlink4 {
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 10px;
}

#navlink5 {
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 10px;
}

#nav-list {
    list-style-type: none;
    font-size: 20px;

}

#main-doc {
    margin-left: 250px;
    border: solid;
    padding: 20px;
    border-width: 15pt;
    border-color:rgb(73, 69, 69);
    color: white;
    font-family: 'Roboto Mono', monospace;
  
}

@media (max-width: 300px) {
  body {
    background-color: lightgreen;
  }
}

h1 {
    padding: 10px;
    font-size: 25px;
    font-family: 'Roboto Mono', monospace;
}

img{
    height:100px;
    width: 100px;
    margin-left: 70px;
    margin-top: 15px;
}

footer {
    margin-left: 650px;
    padding:20px;
}

#footertext {
    color: white;
    padding:10px;
}

hr{
    display: block;
    margin-left:-100px;
}

#line1 {
    margin-bottom:-9px
}

.main-section {
}


#header1 {
    font-size: 33px;
}

#header2 {
    font-size: 33px;
}

#header3 {
    font-size: 33px;
}

#header4 {
    font-size: 33px;
}

#header5 {
    font-size: 33px;
}

